@font-face {
  font-family: "Ferrovial New";
  src: url("../fonts/FerrovialNew-Regular.woff2") format("woff2"),
    url("../fonts/FerrovialNew-Regular.woff") format("woff"),
    url("../fonts/FerrovialNew-Regular.ttf") format("truetype"),
    url("../fonts/FerrovialNew-Regular.svg#FerrovialNew-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ferrovial New";
  src: url("../fonts/FerrovialNew-Bold.woff2") format("woff2"), url("../fonts/FerrovialNew-Bold.woff") format("woff"),
    url("../fonts/FerrovialNew-Bold.ttf") format("truetype"),
    url("../fonts/FerrovialNew-Bold.svg#FerrovialNew-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ferrovial New";
  src: url("../fonts/FerrovialNew-Light.woff2") format("woff2"), url("../fonts/FerrovialNew-Light.woff") format("woff"),
    url("../fonts/FerrovialNew-Light.ttf") format("truetype"),
    url("../fonts/FerrovialNew-Light.svg#FerrovialNew-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue-Bold.woff2") format("woff2"), url("../fonts/BebasNeue-Bold.woff") format("woff"),
    url("../fonts/BebasNeue-Bold.ttf") format("truetype"),
    url("../fonts/BebasNeue-Bold.svg#BebasNeue-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin-ext");
