* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  &.font-size {
    font-size: 75%;
  }
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  font-family: "Ferrovial New";
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    transition: 0.3s;
    text-decoration: underline;
  }
}

button {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  transition: 0.3s;
  padding: 0;
  &:focus {
    outline: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  line-height: 1.5;
  margin: 0;
}

.text-center {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

section {
  padding: 0 2rem;

  @media (min-width: 768px) {
    padding: 0 3rem;
  }
  @media (min-width: 992px) {
    padding: 0 4rem;
  }
  @media (min-width: 1024px) {
    padding: 0 5rem;
  }
  @media (min-width: 1200px) {
    padding: 0 6rem;
  }
  @media (min-width: 1540px) {
    padding: 0 7rem;
  }
}

body {
  &.single-offer {
    section {
      margin: 0 -15px 0 -15px;
    }
  }
}

.background-yellow {
  background-color: $yellow;
}

.background-gray {
  background-color: $gray4;
}

.background-black {
  background-color: $black;
}

.background-light-gray {
  background-color: $gray3;
}
