.social-media {
  display: flex;
  align-items: flex-start;

  @media (min-width: 768px) {
    margin-right: 3.6rem;
  }

  @media (min-width: 1540px) {
    margin-right: 6.6rem;
  }

  &--icon {
    width: 3rem;
    height: 3rem;
    background-position: center;
    background-repeat: no-repeat;

    &:first-child {
      margin-right: 1.2rem;
    }
  }
}
